<div>
  <ul>
    <li><%= traffic_volume %></li>
    <li><%= traffic_speed %></li>
    <li><%= traffic_large_car %></li>
    <li><%= traffic_people %></li>
    <li><%= traffic_stop %></li>
  </ul>
  <ul>
    <li><%= road_condition %></li>
    <li><%= road_sidewalk %></li>
    <li><%= road_narrow %></li>
  </ul>
  <ul>
    <li><%= shop_no_shop %></li>
    <li><%= shop_no_vending_machine %></li>
  </ul>
  <ul>
    <li><%= @map.comment.comment %></li>
  </ul>
</div>

