<h1>Google Map</h1>
<div id ="index_map" class="index_map"></div>
<h2>Post index</h2>
  <ul>
    <% @maps.each do |map| %>
      <li><%= map.content %> <%= map.latitude %>: <%= map.longitude %></li>
    <% end %>
  </ul>
<%= link_to 'new', new_map_path, data: {'turbolinks'=> false} %>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP']%>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'index_map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
  });
</script>
  
