<div class=' text-center mt-3 mb-3'>
  <h1><%= @map.user.name %>さんによる情報</h1>
</div>

<!-- title -->
<div class='text-center mb-5'>
  <h2>危険度合い：<%= @map.title.title %><h2>
</div>
<div class='row'>
  <div class='offset-8'>
    <p><%= @map.created_at.strftime('%Y/%m/%d %H:%M:%S')%>に投稿</p>
  </div>
  <div class='offset-8'>
    <p>役に立ったと評価した人数：<%= @map.favorites.count %>人</p>
  </div>
</div>
<!-- google map below -->

<div id='show_map' class='mb-5'></div>

<!-- description below -->

<%= render 'maps/detail', map: @map %>

<!-- if user logged in then like and reply possible -->  
<div>
  <% if user_signed_in? %>
    
    <!-- like_button function -->
    <% unless @map.user == current_user %>
      <p>もしもこの投稿が役に立った場合評価をお願いします</p>
      <% if current_user.likes?(@map) %>
        <%= link_to '役に立った！を取り消し', unlike_user_path, method: :post, class: 'btn btn-danger btn-sm mb-5' %>
      <% else %>
        <%= link_to '役に立った！', like_user_path, method: :post, class: 'btn btn-dark btn-sm mb-5' %> 
      <% end %>

    
    <% else %>
      <%= link_to '編集', edit_map_path(@map), data: {'turbolinks' => false }, class: 'btn btn-light mb-5' %>
    <% end %>
    
    <!-- bookmark function -->
    <% if current_user.reverse_of_bookmarks?(@map) %>
      <p>ブックマークを外したい方は以下のボタンをクリックするとブックマークから削除することができます。</p>
      <%= link_to 'ブックマークから削除', unbookmark_user_path, method: :post, class: 'btn btn-secondary mb-5' %>
    <% else %>
      <p>ブックマークに登録したい方は以下のボタンをクリックするとブックマークに登録することができます。</p>
      <%= link_to 'ブックマークに登録', bookmark_user_path, method: :post, class: 'btn btn-info mb-5'%>
    <% end %>
  <% end %> 
</div>


<div class='row'> 
  <div class='col-sm-12 mb-5'>
    <%= link_to '<<トップページに戻る', root_path, data: {'turbolinks' => false }, class: ' col-sm-12 btn btn-primary btn-lg' %>
  </div>
</div>

<div class='row'>
<!-- reply form -->
  <% if user_signed_in? %>
    <%= render 'replies/form', map: @map, reply: @reply %>
  <% end %>
<!-- show replies -->
  <%= render 'maps/replies', replies: @replies %>
</div>




<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP']%>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

<script type="text/javascript">
$(document).on('turbolinks:load', function () {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'show_map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash_show.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(9);
  });
});
</script>
