<h1>詳細</h1>
<div id='show_map'></div>

<h2><%= @map_show.title.title %><h2>

<h3>危険箇所</h3>
<div>
  <ul>
    <li><%= traffic_volume %></li>
    <li><%= traffic_speed %></li>
    <li><%= traffic_large_car %></li>
    <li><%= traffic_people %></li>
    <li><%= traffic_stop %></li>
  </ul>
  <ul>
    <li><%= road_condition %></li>
    <li><%= road_sidewalk %></li>
    <li><%= road_narrow %></li>
  </ul>
  <ul>
    <li><%= shop_no_shop %></li>
    <li><%= shop_no_vending_machine %></li>
  </ul>
  <ul>
    <li><%= @map_show.comment.comment %></li>
  </ul>
</div>

<div>
  <% if user_signed_in? %>
    <% unless @map_show.user == current_user %>
      <% if current_user.likes?(@map_show) %>
        <%= link_to '役に立った！', unlike_user_path, method: :delte, class: 'btn btn-danger btn-sm' %>
      <% else %>
        <%= link_to '役に立った', like_user_path, method: :post, class: 'btn btn-info btn-sm' %> 
      <% end %>
    <% end %>
  <% end %> 
</div>





<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP']%>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

<script type="text/javascript">
$(document).on('turbolinks:load', function () {
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'show_map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash_show.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(9);
  });
});
</script>
